<%# Ghép phần đầu trang dùng chung vào trang chủ. %> <%-
include("layouts/header") %>

<section class="home-banner" aria-label="Thuê xe ô tô - Tự do trải nghiệm">
  <img src="/images/Banner.png" alt="Thuê xe ô tô - Tự do trải nghiệm" />
</section>
